.blame{
    display: flex;
    height: 100%;
    user-select: none;
}

.recency {
    height: 100%;
    flex: 0 0 5px;
}

.popover {
    &-trigger {
        overflow: hidden;
        text-overflow: ellipsis;

        width: calc(100% - 5px);
        max-width: calc(240px - 5px);

        display: flex;
        flex-wrap: nowrap;

        color: var(--body-color);
        &:hover {
            color: var(--body-color);
        }

        .date {
            white-space: pre;
            color: var(--text-muted);
            font-family: var(--font-family-base);
        }

        .avatar, {
            min-width: 1rem;
            width: 1rem;
            min-height: 1rem;
            height: 1rem;
        }

        .date {
            min-width: 80px;
        }

        .content {
            white-space: pre;
            color: var(--text-muted);
            font-family: var(--font-family-base);

        }
    }

    &-content {
        max-width: 348px;

        border: 1px solid var(--border-color);
        border-radius: 5px;

        .head {
            line-height: 1rem;
        }

        .author {
            font-weight: 500;
        }

        .separator {
            color: var(--color-bg-2);
        }

        .body {
            margin-top: 0.75rem;
            margin-bottom: 0.5rem;
            font-size: 0.75rem;
            line-height: 1.3333333333;
            color: var(--body-color);
        }

        .icon {
            font-size: 1rem;
        }

        .link {
            color: var(--body-color);
        }
    }
}
